@import "../../_general";

nav {
  @include displayFlex(flex, space-around, center, 0);
  background-color: rgb(215, 0, 64);
  width: 100%;
  .logo {
    font-family: $mainFont;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
  }
  .burger-icon {
    display: block;
    cursor: pointer;
  }
}

.list-items {
  @include displayFlex(flex, space-evenly, center, column);
  height: 100%;
  width: 30%;
  font-family: $secondaryFont;
  list-style: none;
  transform: translateX(100%);
  position: absolute;
  right: 0;
  transition: 0.5s ease-in-out;
  z-index: 2;
  background-color: rgb(215, 0, 64);
  a {
    color: white;
    text-decoration: none;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.list-items.responsive {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
  z-index: 2;
  background-color: rgb(215, 0, 64);
}

@media only screen and (max-width: 600px) {
  .list-items {
    width: 50%;
  }
}
